* {
    margin: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.nav {
    display: flex;
    position: fixed;
    height: 100%;
    width: 4rem;
    background-color: #000000e4;
    box-shadow: 20px 0 20px 20px #000000e4;
    transition: 0.3s;
    align-items: center;
    z-index: 1;
}

.nav:hover {
    box-shadow: 40px 0 40px 40px #000000e4;
}

.nav-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    color: #fff0;
    align-items: center;
}

.nav-items:hover>.nav-item::after {
    left: 100%;
    color: #ffff;
}

.nav-item {
    position: relative;
    height: 100%;
    transition: transform 0.2s;
}

.nav-item::after {
    display: flex;
    position: absolute;
    content: attr(name);
    height: 100%;
    width: 6rem;
    top: 0;
    left: 0;
    transition: 0.4s;
    padding-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.nav-item:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.scroll {
    height: 100%;
    width: 100%;
    padding-left: 4rem;
    position: fixed;
    z-index: 0;
    overflow-y: auto;
}
.scroll-body {
    height: 200%;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(transparent 30vh, black 80vh);
}
.title {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50%;
    padding-top: 30vh;
    color: white;
    justify-content: space-evenly;
}
.buttons button {
    height: 3rem;
    width: 18rem;
    background-color: #fff6;
}
.buttons button:hover {
    background-color: #fffa;
}
.buttons button:last-child {
    width: 3rem;
}
.list {
    position: relative;
    display: flex;
    height: fit-content;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.image {
    position: relative;
    background-color: blue;
    flex-grow: 1;
    flex-shrink: 0;
    width: 10rem;
    aspect-ratio: 2/3;
    border: 1px solid black;
    transition: 0.3s;
}
.image:first-child {
    transform-origin: 0;
}
.image:hover {
    transform: scale(1.3);
    z-index: 1;
}

.headding {
    position: absolute;
    left: 2rem;
    top: 0;
    /* z-index: 0; */
    font-size: 1.5rem;
    color: white;
}